doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        title Notedown
        base(href="/")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="theme-color" content="#1C1917")
        meta(name="apple-mobile-web-app-title" content="Notedown")
        meta(name="mobile-web-app-capable" content="yes")
        link(rel="icon" type="image/svg+xml" href="assets/brand/icon.svg")
        link(rel="apple-touch-icon" href="assets/brand/icon.svg")
    body
        app-root
